* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

div.hero {
  color: white;
  background: #ff1b68;
  text-align: center;
  border: solid black 5px;
  padding: 20px;
  margin: 20px;
}

#green-text {
  color: lime;
}
