body {
  font-family: "sans-serif";
}

h1#assignment-instructions {
  color: blue;
  font-family: inherit;
}

code {
  color: red;
  font-family: inherit;
}

code.greener {
  color: green;
}

ol li {
  background: black;
  color: white;
}
